{% extends "main/base.html" %}

{% block title %}
View
{% endblock %}

{% block content %}
	{% for td in user.todolist.all %}
		<p><a href="/{{td.id}}">{{td.name}}</p>
		<p><a href="{% url 'main:index' td.id %}">{{td.name}}</a></p>
		<p>"hello"</p>
	{% endfor %}


		{% csrf_token %}
		
		<fieldset>
			{% for list in user.todolist.all %}
			<br>
			<br>
				{% csrf_token %}
					<legend><h1>{{ list.name }}</h1></legend>
					<br>
					{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
					
					<form action="{% url 'main:vote' list.id %}" method="post">

					{% for item in list.item_set.all %}
					
					{% load crispy_forms_filters %}
						 
						 {% csrf_token %}
						 
						 <input type="button" name="hi{{ forloop.counter }}" class="btn btn-success" id=item{{item.id}} value={{item.text}}>
						 
						 <label for="hi{{ forloop.counter }}"> ID #{{ item.id }}</label><br>
					
					{% endfor %}
						<br>
						<br>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
							<button type="submit", name="Go To List" class="btn btn-success">Go To List</button>


							</div>
						</div>
						

					</form>

					<form action="{% url 'main:create' %}" method="get" class="form-group">

						<div class="input-group mb-3">
							<div class="input-group-prepend">
							<button type="submit", name="Create List" class="btn btn-success">Create List</button>
							</div>
						</div>

					</form>
				
			{% endfor %}
		</fieldset>
		
{% endblock %}
