{% extends "main/base.html" %}

{% block title %}
View
{% endblock %}

{% block content %}
	{% for td in user.todolist.all %}
		<p><a href="/{{td.id}}">{{td.name}}</p>
		<p><a href="{% url 'main:index' td.id %}">{{td.name}}</a></p>
		<p>"hello"</p>
	{% endfor %}

	<form action="{% url 'main:vote' 14 %}" method="post">
		{% csrf_token %}
		{% load crispy_forms_filters %}
		<fieldset>
			{% for list in user.todolist.all %}
				
					<legend><h1>{{ list.name }}</h1></legend>
					{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
					
					{% for item in list.item_set.all %}
						 
						 <input type="radio" name="id" id=item{{list.id}} value={{list.id}}>
						 
						 <label for=item{{list.id}}>{{ item.text }}</label><br>

						 <p> item {{ forloop.counter }} </p>

						 <p> item {{ list.id }} </p><br>
					
					{% endfor %}
				
			{% endfor %}
		</fieldset>
		<input type="submit" value="vote">
	</form>
{% endblock %}
