{% extends "main/base.html" %}

{% block title %}
View
{% endblock %}

{% block content %}
	{% for td in user.todolist.all %}
		<p><a href="/{{td.id}}">{{td.name}}</p>
		<p><a href="{% url 'main:index' td.id %}">{{td.name}}</a></p>
		<p>"hello"</p>
	{% endfor %}


		{% csrf_token %}
		
		<fieldset>
			{% for list in user.todolist.all %}
				
					<legend><h1>{{ list.name }}</h1></legend>
					{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
					
					{% for item in list.item_set.all %}
					
					{% load crispy_forms_filters %}
						 <form action="{% url 'main:vote' item.id %}" method="post">

						 {% csrf_token %}
						 
						 <input type="radio" name="hi{{ forloop.counter }}" id=item{{item.id}} value={{item.id}}>
						 
						 <label for="hi{{ forloop.counter }}">{{ item.text }}</label><br>

						 <input type="submit" value="vote">

						 <p> item id {{ item.id }} </p>

						 <p> for loop {{ forloop.counter }} </p>

						 <p> item list id {{ list.id }} </p><br>
						</form>
					
					{% endfor %}
				
			{% endfor %}
		</fieldset>
		
{% endblock %}
